@using GwentApp.Models;
@model Player
@{
    ViewBag.Title = "BoardView";
    //Player player = TempData["tempPlayer"] as Player;
    Player player = Session[Model.PlayerGuid.ToString()] as Player;

    
   
}
<style>
    .cardRow{
            padding-bottom: 25px;
    }
    .woodBackground{
        background-image:url(@Url.Content("~/Content/Images/woodtexture.jpg"));
    }
   .total{
        padding-top: 40px;
        color:white;
    }
    .borderRow{
    height: 200px;
    border-bottom-style: solid;
    border-width: 5px;
    }
    body{
    background-color: grey;
    }

</style>
<div class="row" style="padding-top: 20px;">
    <div class="col-sm-10" style="padding-left:75px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Played Cards</h2>
            </div>
            <div class="panel-body woodBackground">
                <div class="row borderRow">
                    <div class="col-sm-1">
                        <h2 class="total">@Html.DisplayFor(p => player.PlayerBoardState.CloseCombatTotal)</h2>
                    </div>
                    <div class="col-sm-11 cardRow">

                        @foreach (Card cc in player.PlayerBoardState.CloseCombat)
                        {
                            <div class="col-sm-2">
                                <img alt="@cc.Name" src="@Url.Content(cc.ImageFilePath)" width="100" height="175" />
                            </div>

                        }

                    </div>
                </div>

                <div class="row borderRow">
                    <div class="col-sm-1">
                        <h2 class="total">@Html.DisplayFor(p => player.PlayerBoardState.RangedCombatTotal)</h2>
                    </div>
                    <div class="col-sm-11 cardRow">
                        @foreach (Card rc in player.PlayerBoardState.RangedCombat)
                        {
                            <div class="col-sm-2">
                                <img alt="@rc.Name" src="@Url.Content(rc.ImageFilePath)" width="100" height="175" />
                            </div>
                        }
                    </div>
                </div>
                <div class="row borderRow">
                    <div class="col-sm-1">
                        <h2 class="total">@Html.DisplayFor(p => player.PlayerBoardState.SiegeCombatTotal)</h2>
                    </div>
                    <div class="col-sm-11 cardRow">
                        @foreach (Card sc in player.PlayerBoardState.SiegeCombat)
                        {
                            <div class="col-sm-2">
                                <img alt="@sc.Name" src="@Url.Content(sc.ImageFilePath)" width="100" height="175" />
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Your Cards</h2>
            </div>
            <div class="panel-body woodBackground">
                @foreach (Card c in player.Hand)
                {


                    if (!(player.PlayerBoardState.Passed))
                    {
                        if (c.Name != "Commander's Horn")
                        {
                            <div class="col-sm-2 cardRow">
                                <a href="/Board/PlayCard/@c.CardId"><img alt="@c.Name" src="@Url.Content(c.ImageFilePath)" width="100" height="175" /></a><br>@Html.ActionLink("Play Card", "Board", "PlayerCard", new { id = c.CardId }, null)



                            </div>
                        }
                        else
                        {
                            <div class="col-sm-2 cardRow">
                                <img alt="@c.Name" src="@Url.Content(c.ImageFilePath)" width="100" height="175" /><br> @Html.ActionLink("Close", "PlayCard", "Board", new { id = c.CardId, row = "Close" }, null) @Html.ActionLink("Ranged", "PlayCard", "Board", new { id = c.CardId, row = "Ranged" }, null) @Html.ActionLink("Siege", "PlayCard", "Board", new { id = c.CardId, row = "Siege" }, null)


                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-sm-2 cardRow">
                            <img alt="@c.Name" src="@Url.Content(c.ImageFilePath)" width="100" height="175" />
                        </div>

                    }
                }
            </div>
        </div>

        @*@using (@Html.BeginForm("PlayCard", "Board"))
            {

                //@Html.DropDownListFor(m => m.SelectedFaction.FactionAbbr, Player.DdFactionList, "");
                @Html.DisplayFor(p => p.SelectedFaction.FactionName)

                @Html.DropDownListFor(p => p.PlayerBoardState.PlayedCardId, cardDd, "")

                <input type="submit" value="Submit" />
            }*@
        @{
            //TempData["tempPlayer"] = player;
            Session[player.PlayerGuid.ToString()] = player;
        }


    </div>
    <div class="col-sm-2">

        <div class="panel panel-default">
            <div class="panel-body">
                <p><strong>Round Number: </strong>@Html.DisplayFor(p => player.PlayerBoardState.RoundNumber)</p>
                <p><strong>Win Count: </strong>@Html.DisplayFor(p => player.WinCount)</p>
                <span>
                    <br />
                    @if (!(player.PlayerBoardState.Passed))
                    {
                        <button type="button" class="btn btn-info" style="width:100%;">
                            @Html.ActionLink("Pass", "PlayerPass", "Board", new { id = "" }, null)
                        </button>
                    }
                    else
                    {
                        @Html.Label("Round passed!");
                    }

                    <button type="button" class="btn btn-danger" style="width:100%;">
                        @Html.ActionLink("Draw card (TESTING ONLY)", "DrawFromDeck", "Board", new { id = "" }, null)
                    </button>

                    <button type="button" class="btn btn-success" style="width:100%;">
                        @Html.ActionLink("Total Round", "RoundTotal", "Board", new { id = "" }, null)
                    </button>
                </span>
            </div>
        </div>


    </div>
</div>
